SECRET_KEY="123-fake-key"
DEBUG=1
API_TOKEN=""

# Empty string for DATABASE_URL means it will create and use a local sqlite db
DATABASE_URL=""
DJANGO_ALLOWED_HOSTS=""

DOCRAPTOR_API_KEY="YOUR_API_KEY_HERE"

LOGIN_GOV_CLIENT_ID=
LOGIN_GOV_OIDC_URL=
LOGIN_GOV_REDIRECT_URI=

GOOGLE_CLOUD_PROJECT=

DB_HOST="api-dev.cluster-crj70bc9j3t7.us-east-1.rds.amazonaws.com"
DB_NAME="app"
DB_USER="app"
AWS_REGION="us-east-1"
